div{
    margin-top: 200px;
}
.crypto-list {
    list-style-type: none;
    padding: 0;
    margin-left: 6vw;
    margin-right: 5vw;
    width: 85vw;
  }
  h1{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .crypto-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    
  }
  
  .crypto-item img {
    max-width: 90px;
  }
  
  .crypto-item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .crypto-item li {
    display: inline-block;
    margin-right: 5vw;
    min-width: 130px;
  }

  .crypto-item li:nth-child(5) {
    margin-left: 5.5vw;
    margin-right: 2vw;
  }

  .crypto-item li:last-child {
    margin-right: 5px;
  }
  
  .crypto-item p {
    margin: 0;
  }

  
  .button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #5864FF;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }


  .mensaje-logueado{
    position: fixed;
    margin-top: 0;
    top:150px;
    right:-10px;
    border-left:5px solid #5864FF;
    padding: 20px;
    background-color: rgb(248, 248, 248);

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
    animation: entradaMensaje 0.5s forwards ease-out;
  }

  .mensaje-logueado p{
    color: red;
    font-weight: bolder;
  }

  .mensaje-seguido{
    position: fixed;
    margin-top: 0;
    top:150px;
    right:-10px;
    border-left:5px solid #5864FF;
    padding: 20px;
    background-color: rgb(248, 248, 248);

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
    animation: entradaMensaje 0.5s forwards ease-out;
  }

  .mensaje-seguido p{
    color: rgb(0, 255, 13);
    font-weight: bolder;
  }

  @keyframes entradaMensaje {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}
  

@media (max-width: 1491px) {
  .crypto-item li {
    display: inline-block;
    margin-right: 2vw;
    min-width: 130px;
  }

  .crypto-item li:nth-child(5) {
    margin-left: 4vw;
    margin-right: 2vw;
  }
}